<template>
    <div class="popup">
        <div class="container-fluid">
            <div class="my-3">
                <button @click.prevent="scanDom"
                        type="button"
                        class="btn btn-outline-info btn-sm"
                >
                    <i class="fas fa-search"></i><span class="ml-2">Scan</span>
                </button>
                <button @click.prevent="newFood"
                        type="button"
                        class="btn btn-outline-success btn-sm"
                >
                    <i class="far fa-file"></i><span class="ml-2">New</span>
                </button>
            </div>
            <div v-if="!doesSearchForNutritionCalls">
                <div v-if="hasFood" class="mb-3">
                    <div class="mb-3">
                        <button @click.prevent="copyOnClick"
                                type="button"
                                class="btn btn-sm"
                                :class="copyActionCssClass"
                        >
                            <i class="far fa-clipboard"></i><span class="ml-2">Copy to clipboard</span>
                        </button>
                    </div>


                    <div v-if="isStateShow">

                        <div class="mb-3">
                            <button @click.prevent="setStateEdit"
                                    type="button"
                                    class="btn btn-default btn-sm"
                            >
                                Edit
                            </button>
                        </div>

                        <div class="card mb-3">
                            <div class="card-header py-1 px-2">
                                Food Meta Data
                            </div>
                            <div class="py-1 px-2 h8">
                                <div><strong>Name:</strong> {{ food.name }}</div>
                                <div><strong>Brand:</strong> {{ food.brand }}</div>
                                <div><strong>Reference :</strong> {{ food.ref_value }} {{ food.ref_unit }}</div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header py-1 px-2">
                                Nutrition facts
                            </div>
                            <ul class="list-group list-group-flush">

                                <li v-for="(elem, idx) in nutritionFactsStructure"
                                    v-if="elem.mandatory || hasNutrient(elem.key) || elem.isGroup"
                                    class="list-group-item py-1 pl-1 pr-2 h8"
                                    :key="`main_${idx}`"
                                >
                                    <nutrition-list-element-wrapper>
                                        <i v-if="elem.mandatory"
                                           slot="icon"
                                           :class="getMustHaveNutrientIconClass(isMustHaveNutrient(elem.key) && hasNutrient(elem.key))"
                                        ></i>
                                        <nutrition-list-element v-if="!elem.isGroup"
                                                                :name="$trans(`nutrients.${elem.key}`)"
                                                                :val="getNutrient(elem.key).value"
                                                                :unit="getNutrient(elem.key).unit"
                                                                :strong="elem.mandatory && elem.basic"
                                                                :muted="!hasNutrient(elem.key)"
                                        ></nutrition-list-element>
                                        <nutrition-list-element v-else
                                                                :name="$trans(`nutrients.${elem.key}`)"
                                                                val=""
                                                                unit=""
                                                                :strong="true"
                                        ></nutrition-list-element>
                                    </nutrition-list-element-wrapper>

                                    <ul v-if="elem.children.length" class="list-unstyled">
                                        <li v-for="(sub, subIdx) in elem.children"
                                            v-if="sub.basic || hasNutrient(sub.key)"
                                            class="mt-1 pl-5"
                                            :key="`sub_${idx}_${subIdx}`"
                                        >
                                            <nutrition-list-element :name="$trans(`nutrients.${sub.key}`)"
                                                                    :val="getNutrient(sub.key).value"
                                                                    :unit="getNutrient(sub.key).unit"
                                                                    :muted="!hasNutrient(sub.key)"
                                            ></nutrition-list-element>
                                        </li>
                                    </ul>
                                </li>
                            </ul><!-- nutrients -->
                        </div>



                        <div v-if="hasIngredients" class="card mt-3">
                            <div class="card-header py-1 px-2">
                                Ingredients
                            </div>
                            <div class="py-1 px-2">
                            <span v-for="(ingredient, iIdx) in ingredients"
                                  :key="`ingredient_${iIdx}`"
                                  class="badge badge-default mr-1"
                            >{{ ingredient }}</span>
                            </div>
                        </div>



                        <div v-if="hasPortions" class="card mt-3">
                            <div class="card-header py-1 px-2">
                                Potions
                            </div>
                            <ul class="list-group list-group-flush">

                                <li v-for="(portion, idx) in portions"
                                    class="list-group-item py-1 px-2 h8"
                                    :key="`portion_${idx}`"
                                >
                                    <nutrition-list-element :name="`${portion.amount} ${portion.label}`"
                                                            :val="portion.value"
                                                            :unit="portion.unit"
                                    ></nutrition-list-element>
                                </li>
                            </ul>
                        </div>

                    </div><!-- state show -->



                    <div v-else-if="isStateEdit">
                        <div class="mb-3">
                            <button @click.prevent="setStateShow"
                                    type="button"
                                    class="btn btn-default btn-sm"
                            >
                                Close
                            </button>
                        </div>

                        <div class="form-group h8">
                            <label for="formName">Name</label>
                            <input @input="updateFoodData('name', $event.target.value)"
                                   :value="food.name"
                                   type="text"
                                   class="form-control form-control-sm"
                                   id="formName"
                            >
                        </div>

                        <div class="form-group h8">
                            <label for="formBrand">Brand</label>
                            <input @input="updateFoodData('brand', $event.target.value)"
                                   :value="food.brand"
                                   type="text"
                                   class="form-control form-control-sm"
                                   id="formBrand"
                            >
                        </div>

                        <div class="form-group h8">
                            <label for="formReferenceValue">Reference Value</label>
                            <input @input="updateFoodData('ref_value', $event.target.value)"
                                   :value="food.ref_value"
                                   type="text"
                                   class="form-control form-control-sm"
                                   id="formReferenceValue"
                            >
                        </div>

                        <div class="form-group h8">
                            <label for="formReferenceUnit">Reference Unit</label>
                            <select @input="updateFoodData('ref_unit', $event.target.value)"
                                    :value="food.ref_unit"
                                    class="form-control form-control-sm"
                                    id="formReferenceUnit"
                            >
                                <option value="g">g</option>
                                <option value="ml">ml</option>
                            </select>
                        </div>

                        <hr>

                        <div class="form-group h8">
                            <label for="formNutrientsParser">Nutrients Raw Parser</label>
                            <select @input="updateFoodData('nutrientsParser', $event.target.value)"
                                    :value="food.nutrientsParser"
                                    class="form-control form-control-sm"
                                    id="formNutrientsParser"
                            >
                                <option value="default">Default</option>
                                <option value="hofer_backbox">Hofer Backbox</option>
                            </select>
                        </div>

                        <div class="form-group h8">
                            <label for="formNutrientsRaw">Nutrients Raw</label>
                            <textarea @input="updateFoodData('nutrientsRaw', $event.target.value)"
                                      :value="food.nutrientsRaw"
                                      class="form-control form-control-sm"
                                      rows="4"
                                      id="formNutrientsRaw"
                            ></textarea>
                        </div>

                        <hr>

                        <div class="form-group h8">
                            <label for="formIngredientsParser">Ingredients Raw Parser</label>
                            <select @input="updateFoodData('ingredientsParser', $event.target.value)"
                                    :value="food.ingredientsParser"
                                    class="form-control form-control-sm"
                                    id="formIngredientsParser"
                            >
                                <option value="default">Default</option>
                            </select>
                        </div>

                        <div class="form-group h8">
                            <label for="formIngredientsRaw">Ingredients Raw</label>
                            <textarea @input="updateFoodData('ingredientsRaw', $event.target.value)"
                                      :value="food.ingredientsRaw"
                                      class="form-control form-control-sm"
                                      rows="4"
                                      id="formIngredientsRaw"
                            ></textarea>
                        </div>

                        <hr>

                        <div class="form-group h8">
                            <label for="formPortionsRaw">Portions Raw</label>
                            <textarea @input="updateFoodData('portionsRaw', $event.target.value)"
                                      :value="food.portionsRaw"
                                      class="form-control form-control-sm"
                                      rows="4"
                                      id="formPortionsRaw"
                            ></textarea>
                        </div>

                    </div><!-- state edit -->
                </div>
                <div v-else class="my-3 border p-4 text-center">
                    <h6 class="m-0">No nutrition facts found</h6>
                </div>
            </div>
            <div v-else>
                <div class="text-center p-4">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>

    /*
     |---------------------------------------------------------------------------
     | Smart component
     |---------------------------------------------------------------------------
     */

    import {mustHaveNutrients} from '../config/nutrients';
    import {nutritionFactsStructure} from '../config/nutrition_facts_structure';
    import {has} from '../utilities/helper';

    import backendInterfaceMixin from './mixins/backend_interface';

    import NutritionListElement from './shared/nutrition_list_element';
    import NutritionListElementWrapper from './shared/nutrition_list_element_wrapper';



    export default {
        name: 'popup_view',

        mixins: [
            backendInterfaceMixin,
        ],

        components: {
            NutritionListElement,
            NutritionListElementWrapper,
        },

        created() {

        },

        data() {
            return {
                copyAction: false,
                nutritionFactsStructure,
                state: 'STATE_SHOW',
            };
        },

        computed: {
            isStateShow() {
                return this.state === 'STATE_SHOW';
            },
            isStateEdit() {
                return this.state === 'STATE_EDIT';
            },
            exportData() {
                const food = {
                    name: this.food.name,
                    brand: this.food.brand,
                    ref_value: this.food.ref_value,
                    ref_unit: this.food.ref_unit,
                    carb_without_fiber: this.food.carb_without_fiber,
                    nutrients: this.getParsedNutrients,
                    source: this.food.source,
                    ingredients: this.getParsedIngredients,
                    portions: this.getParsedPortions,
                };

                mustHaveNutrients.forEach((nutrient) => {
                    if (!has.call(food.nutrients, nutrient)) {
                        food.nutrients[nutrient] = {
                            value: 0,
                            unit: nutrient === 'energy' ? 'kcal' : 'g',
                        };
                    }
                });
                return JSON.stringify(food);
            },
            copyActionCssClass() {
                return [
                    {'btn-default': !this.copyAction},
                    {'btn-success': this.copyAction},
                ];
            },
        },

        methods: {
            setState(state) {
                this.state = state;
            },
            setStateShow() {
                this.setState('STATE_SHOW');
            },
            setStateEdit() {
                this.setState('STATE_EDIT');
            },
            copyOnClick() {
                const vm = this;
                navigator.clipboard.writeText(this.exportData)
                    .then(() => {
                        vm.copyAction = true;
                        setTimeout(() => {
                            vm.copyAction = false;
                        }, 400);
                    })
                ;
            },
            getMustHaveNutrientIconClass(state = null) {
                return [
                    {'far': state === null},
                    {'fa-check-circle': state === null},
                    {'far': state === true},
                    {'fa-check-circle': state === true},
                    {'text-success': state === true},
                    {'far': state === false},
                    {'fa-times-circle': state === false},
                    {'text-danger': state === false},
                ];
            },
        }
    };
</script>