// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "./../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

.popup {
    min-width: 330px;
}

.h7 {
    font-size: .875rem;
}

.h8 {
    font-size: .75rem;
}

.icon-24 {
    text-align: center;
    width: 24px;
    min-width: 24px;
}