<template>
    <div :class="cssClass" class="d-flex justify-content-between">
        <div v-if="!strong">{{ name }}</div>
        <div v-else><strong>{{ name }}</strong></div>
        <div class="text-right text-nowrap">
            {{ val }} {{ unit }}
        </div>
    </div>
</template>

<script>

    /*
    |---------------------------------------------------------------------------
    | Smart component
    |---------------------------------------------------------------------------
    */

    export default {

        name: 'nutrition_list_element',

        /*
         |---------------------------------------------------------------------------
         | Composition
         |---------------------------------------------------------------------------
         */

        // mixins: [],

        // extends: {},

        /*
         |---------------------------------------------------------------------------
         | Assets
         |---------------------------------------------------------------------------
         */

        // directives: {},

        // filters: {},

        // components: {},

        /*
         |---------------------------------------------------------------------------
         | Lifecycle Hooks
         |---------------------------------------------------------------------------
         */

        // beforeCreate() {},

        // created() {},

        // beforeMount() {},

        // mounted() {},

        // beforeUpdate() {},

        // updated() {},

        // activated() {},

        // deactivated() {},

        // beforeDestroy() {},

        // destroyed() {},

        /*
         |---------------------------------------------------------------------------
         | Data
         |---------------------------------------------------------------------------
         */

        props: {
            name: {
                type: String,
                required: true,
            },
            val: {
                required: true,
            },
            unit: {
                type: String,
                required: true,
            },
            strong: {
                type: Boolean,
                default: false,
            },
            muted: {
                type: Boolean,
                default: false,
            },
        },

        // data() { return {}; },

        // watch: {},

        computed: {
            cssClass() {
                return [
                    {'text-muted': this.muted}
                ];
            },
        },

        // methods: {},
    }

</script>
