<template>
    <div class="d-flex">
        <div class="icon-24 mr-1"><slot name="icon"></slot></div>
        <div class="flex-grow-1"><slot></slot></div>
    </div>
</template>

<script>

    /*
    |---------------------------------------------------------------------------
    | Smart component
    |---------------------------------------------------------------------------
    */

    export default {
        name: 'nutrition_list_element_wrapper',
    }

</script>
